* {
  margin: 0rem;
  padding: 0rem;

}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.container {}

.first {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
}

.video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 126rem;
  margin: auto;
}
/* .logo a{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 126rem;
  margin: auto;
} */

.logo1 {
  display: block;
  margin: auto;
  width: 35rem;
}

.logo2 {
  display: block;
  margin: auto;
  width: 35rem;
  margin-bottom: 12rem;
}

.logo3 {
  display: block;
  margin: auto;
  width: 135rem;
  margin-left: -4%;
}

.logo4 {
  display: none;
  margin: auto;
  width: 35rem;
  opacity: 1;
  margin-left: -4%;
}

.btn {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border: 2px solid;
  border-radius: 2rem;
  background-color: transparent;
  padding: 0.2rem 1.4rem;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 20;
}

.btn:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, .6);
  border-color: #fff;
}

.barmenu {
  width: 4.5rem;
  height: 3.1rem;
  position: fixed;
  top: 3.5rem;
  left: 6.875rem;
  cursor: pointer;
  border: 0 solid rgba(255, 255, 255, .45);
  margin: 0;
  transition: .35s;
  z-index: 1500;
}

.barmenu :nth-child(1) {
  top: 1.25rem;
}

.barmenu :nth-child(2) {
  top: 1.8rem;
}

.barmenu span {
  display: block;
  position: absolute;
  height: 0.1rem;
  width: 100%;
  background: #fff;
  opacity: 1;
  margin: auto;
  right: 0;
  left: 0;
  transition: .25s ease-in-out;
}

.lang_list {
  position: fixed;
  top: 4rem;
  right: 3.875rem;
  height: auto;
  display: flex;
  align-items: center;
  z-index: 1500;
  opacity: 1;

}

.lang {
  color: rgba(255, 255, 255, .5);
  margin: 0 0.3rem;
  text-transform: uppercase;
}

.milan {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: calc((100% - 126rem)/2);
  right: calc((100% - 126rem)/2);
  width: 126rem;
  height: 1rem;
  z-index: 40;
}
.rows{
  display: flex;
  justify-content: space-between;
  color: #fff;
  letter-spacing: 0.25rem;
}
.rows span{
  z-index: 1500;
  transition: 0.35s;
  color: #fff;
  font-weight: bolder;
}
.bar1{
  position: absolute;
  left: 6.875rem;
  width: 4.5rem;
  display: block;
  height: 0.2rem;
  background-color: #fff;
  opacity: 1;
  top: 0;
  bottom: 0;
  margin: auto;
}
.bar2{
  position: absolute;
  right: 6.875rem;
  width: 4.5rem;
  display: block;
  height: 0.2rem;
  background-color: #fff;
  opacity: 1;
  top: 0;
  bottom: 0;
  margin: auto;
}
.rows span:hover{
  letter-spacing: 1rem;
}

@media(max-width:980px) {
  html {
    font-size: 55%;
  }
}

@media(max-width:666px) {
  html {
    font-size: 45%;
  }

  .logo4 {
    display: block;
  }

  .logo3 {
    display: none;
  }
}